@page "/orders"
@attribute [Authorize(Roles = BlazorShared.Authorization.Constants.Roles.ADMINISTRATORS)]
@inherits BlazorAdmin.Helpers.BlazorComponent
@namespace BlazorAdmin.Pages.OrderItemPage

@if (oItems == null)
{
    <Spinner></Spinner>
}
else
{
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th></th>
                <th>Buyer Id</th>
                <th>Date</th>
                <th>Total</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody class="cursor-pointer">
            @foreach (var item in oItems)
            {
                    <td>@item.buyerId</td>
                    <td>@item.date</td>
                    <td>@item.total</td>
                    <td>@item.status</td>
            }
        </tbody>
    </table>
}
